@model UAF_Frontend_Registration.Models.User

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Please Wait";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Nav" />

<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Please Wait ...</h1>
    <br />
    <br />
    <div class="loading-wait"></div>
</div>

<br />
<br />