@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Nav" />

<br />
<h2 class="text-warning">@ViewData["Title"]</h2>
<br />
<h5>Help Desk Support</h5>
<h5>email : helpdesk@etda.or.th</h5>
<br />
<br />
